<%- include ('partials/header') %>
    <main>
        <!-- Section 1 -->
        <section class="bg-[url('/images/unique.jpg')] bg-cover bg-center h-[600px] " >
        </section>
    </main>
<%- include ('partials/footer') %>